@import url('https://rsms.me/inter/inter.css');

:root {
	--font-family: 'Inter', sans-serif;

	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-md: 1.25rem;
	--font-size-lg: 1.75rem;
	--font-size-xl: 2.5rem;

	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;

	--clr-bg: #ffffff;
	--clr-primary: #d46d18;
	--clr-text-main: #000000;

	--clr-hover: rgb(212, 109, 24 / 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	line-height: 1.6;
	background-color: var(--clr-bg);
	color: var(--clr-text-main);
	min-height: 100vh;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1 {
	font-size: clamp(1.8rem, 6vw, 5rem);
}

h2 {
	font-size: clamp(1.5rem, 4vw, 2.25rem);
}

h3 {
	font-size: clamp(1.2rem, 3vw, 1.75rem);
}

p {
	font-size: clamp(1rem, 2vw, 1.125rem);
}

.header-portrait {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacing-lg) 0;
	position: relative;
	isolation: isolate;
}

.header-portrait::before {
	content: '';
	position: absolute;
	top: -25%;
	left: 0;
	width: 100%;
	height: 85%;
	background-color: var(--clr-primary);
	transform: skewY(-25deg);
	z-index: -1;
}

#name {
	margin-top: -3rem;
	color: var(--clr-bg);
}

.bio-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-sm);
	padding: var(--spacing-md);
}

.logos {
	display: flex;
	gap: var(--spacing-sm);
}

main h2 {
	text-align: center;
	margin: var(--spacing-md) 0;
}

.work-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-md);
}

.card {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	margin: var(--spacing-md) var(--spacing-sm);
}

.info {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	padding: var(--spacing-md);
	margin-bottom: var(--spacing-lg);
}

.info-header {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-sm);
}

.info-header h3 {
	margin-right: auto;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-primary);
	color: var(--clr-bg);
}

.contact-section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	padding: var(--spacing-lg) var(--spacing-md);
}

#contact {
	text-align: center;
}

#contact-call {
	font-size: var(--font-size-md);
}

.contact-section .logos {
	margin: 0 auto;
	gap: var(--spacing-lg);
}
